.App {
  text-align: center;
}

.btn__no-border {
  background: "none" !important;
  border: "none" !important;
  color: white !important;
  box-shadow: none !important;
}


.active {
  .navbar-brand {
    color: rgba(255, 255, 255, 0.3) !important;

  }
}