.App {
  text-align: center;
}

.btn__no-border {
  background: "none" !important;
  border: "none" !important;
  color: white !important;
  box-shadow: none !important;
}

.list-group-item:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.active {
  .navbar-brand {
    color: rgba(255, 255, 255, 0.3) !important;

  }
}